Exercise_1/.idea/*
Exercise_1/variables.tf
Exercise_1/.terraform
Exercise_1/.terraform/*
Exercise_1/.terraform.lock.hcl
Exercise_1/terraform.tfstate
Exercise_1/terraform.tfstate.backup
Exercise_2/.terraform
Exercise_2/.terraform/*
Exercise_2/.terraform.lock.hcl
Exercise_2/terraform.tfstate
Exercise_2/terraform.tfstate.backup
